* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}


body {
  background-color: #ACA69F;
}

.header {
  width: 100vw;
  background-color: rgb(84, 84, 84);
  align-items: center;
  /*position:fixed;*/
  z-index: 1;
}

.teste{
	background-color: white;
	opacity: 0.5;
	
}

.texto{
	color: black;
	font-weight: bold;
}

.logo {
  width: 125px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
   transition: 2.5s;
}

.logo:hover{
	transform: rotateY(360deg);
}

.column {
  margin-top: 100px;
  padding: auto;
  float: left;
  flex: 33.33%;
  padding: 25px;
  transition: 0.5s;
}

.column:hover {
	transform: scale(1.15);
}

.row {
  display: flex;
  overflow: hidden;
}

.txt {
  font-size:20px;
  font-weight: bold;
  max-width: 600px;
  text-align: center;
  margin: auto;
  padding-top: 30px;
  background-color: rgba(221, 205, 185, 0.925);
  height: 45px;
}

#pad {
  padding-top: 150px;
} 



@media(max-width: 376px) {

}

::-webkit-scrollbar {
  opacity: 0;
} 
